In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd

In [3]:
url = "https://forecast.weather.gov/MapClick.php?x=276&y=148&site=lox&zmx=&zmy=&map_x=276&map_y=148#.Yis66-jMK3A"

In [4]:
getting_page = requests.get(url)

In [5]:
getting_page

In [6]:
soup = BeautifulSoup(getting_page.content, "html.parser")

In [77]:
weekday = soup.find_all("div", class_="col-sm-2 forecast-label")[1:11]
conditions_description = soup.find_all("div", class_="col-sm-10 forecast-text")[1:11]
high_low = []
for i in conditions_description:
    high_low.append(i.text.split(".")[0].split(" ")[-1])
    
dates = pd.date_range(start=pd.to_datetime("today"), periods=7, freq='D')

In [78]:
# dataframe

df = pd.DataFrame(zip(dates, weekday, conditions_description, high_low), columns=[1,2,3,4])
df

,1,2,3,4
0,2022-03-11 15:43:00.696083,[[Friday]],"[Sunny, with a high near 74. North wind 5 to 1...",74
1,2022-03-12 15:43:00.696083,[[Friday Night]],"[Mostly clear, with a low around 45. Northwest...",45
2,2022-03-13 15:43:00.696083,[[Saturday]],"[Sunny, with a high near 76. North northeast w...",76
3,2022-03-14 15:43:00.696083,[[Saturday Night]],"[Partly cloudy, with a low around 49. West sou...",49
4,2022-03-15 15:43:00.696083,[[Sunday]],"[Mostly sunny, with a high near 71.]",71
5,2022-03-16 15:43:00.696083,[[Sunday Night]],"[Partly cloudy, with a low around 49.]",49
6,2022-03-17 15:43:00.696083,[[Monday]],"[Sunny, with a high near 76.]",76

In [61]:
high_low = []
for i in conditions_description:
    high_low.append(i.text.split(".")[0].split(" ")[-1])

In [57]:
high_low

['74', '45', '76', '49', '71', '49', '76', '53', '75', '52']

In [34]:
high_low.append(i.text[0].split(".")[0].split(" ")[-1])

45

In [23]:
weekday_list = []
for i in weekday:
    # print(i.text)
    weekday_list.append(i.text)

In [35]:
weekday_list

['Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday',
 'Tuesday Night']

In [16]:
conditions_list = []
for i in conditions_description:
    # print(i.text)
    conditions_list.append(i.text)

low_list = []
for i in low:
    # print(i.text)
    low_list.append(i.text)

high_list = []
for i in high:
    # print(i.text)
    high_list.append(i.text)

In [18]:
print(len(conditions_list))
print(len(low_list))
print(len(high_list))

10
3
3

In [11]:
def fhr_to_celsius(f):
    c  = (5/9) * (f - 32)
    return c

In [12]:
round(fhr_to_celsius(49))

9